
        
        fieldset{
            margin: auto;
            width: 400px;
            height: 500px;
            background-color: crimson;
            border-radius: 20px;
            border: rgb(61, 51, 51);
            -moz-box-shadow: 5px 5px 5px 5px #635c5c; 
           -webkit-box-shadow: 5px 5px 5px 5px #645a5a; 
            box-shadow: 5px 5px 5px 5px #696363;
            text-align: center;
            font-family: cursive;
            font-size: large;
            border-style: groove;
        }
        input{
            border-radius: 50px;
            border: rgba(44, 40, 40, 0.205);
        }
        input[type="button"]:active{
            background-color: aqua;
            border-radius: 20px;
            border-color: black;
            border-style: solid;
            :hover{
                background-color: rgb(51, 255, 0);
        }
        
    }